<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="text-center">
            {#            <p>&copy; <a href="https://twitter.com/yemiwebby" target="_blank">Yemiwebby 2018. All Rights Reserved</a></p>#}
        </div>
    </div>
</footer>