<div class="row">
    {% for group in groups %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ group.name }}</h5>
                    <a href="{{ path('grade-book', {id: group.id}) }}" class="btn btn-primary">До групи</a>
                    <a href="{{ path('group_remove', {id: group.id}) }}" class="btn btn-danger">Видалити групу</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{{ path('group_new') }}" class="btn btn-success">Створити групу</a>
