<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {#                <a class="nav-link" href="{{ url('grade-book') }}">Grade book <span class="sr-only">(current)</span></a>#}
            </li>
        </ul>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="padding-right: 70px;">
                <ul class="navbar-nav ml-auto">

                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, {{ app.user.username }}!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{{ url('account') }}"> <span class="fa fa-user"></span>&nbsp;&nbsp;My Account</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"> <span class="fa fa-sign-out"></span>&nbsp;&nbsp;Logout</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_registration_register') }}"> Create Account </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {#</form>#}
    </div>
</nav>