{% extends 'base.html.twig' %}

{% block title %} Symfony Hackathon Starter {% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th scope="col">Учень</th>
            <th scope="col">Оцінка</th>
            <th scope="col">Значки</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-center" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th class="text-center" scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th class="text-center" scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
